In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
# Make the graphs a bit prettier, and bigger
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

In [15]:
source_file = './Titanic.csv'

table = pd.read_csv(source_file, index_col=0)
table.head()

,Name,PClass,Age,Sex,Survived,SexCode
1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

We know about 1313 passengers of Titanic, moreover there are NaN values only within "Age" column.

In [16]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313 entries, 1 to 1313
Data columns (total 6 columns):
Name        1313 non-null object
PClass      1313 non-null object
Age         756 non-null float64
Sex         1313 non-null object
Survived    1313 non-null int64
SexCode     1313 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 71.8+ KB

How many people survived: 34.27%

In [36]:
table['Survived'].mean()

0.3427265803503427

How many women survived: 66.66%

In [37]:
table[table['Sex'] == 'female']['Survived'].mean()

0.6666666666666666

How many men survived: 16.68%

In [38]:
table[table['Sex'] == 'male']['Survived'].mean()

0.16686251468860164

In [65]:
amount_of_all_survived = len(table[table['Survived'] == 1])

for pclass in table['PClass'].unique():
    class_data = table[table['PClass'] == pclass]
    survived = class_data['Survived']
    
    print(10*'=', pclass, 10*'=')
    print('Amount of people:', len(class_data))
    print('Survived:', survived.mean() * 100)
    print('Percent of all survived people:', len(survived[survived == 1]) / amount_of_all_survived * 100)

========== 1st ==========
Amount of people: 322
Survived: 59.93788819875776
Percent of all survived people: 42.888888888888886
========== 2nd ==========
Amount of people: 279
Survived: 42.65232974910394
Percent of all survived people: 26.444444444444443
========== * ==========
Amount of people: 1
Survived: 0.0
Percent of all survived people: 0.0
========== 3rd ==========
Amount of people: 711
Survived: 19.40928270042194
Percent of all survived people: 30.666666666666664